<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Task_1</title>
        <link rel="styleSheet" href="W6.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
    </head>
    <body>
        <script src="W6.js"></script>
        <div id="v-model-multiple-checkboxes" class="P1">
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames" />
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames" />
            <label for="mike">Mike</label>
            <br />
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <div id="v-model-select-dynamic" class="P2">
            <select v-model="selected">
              <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>

        <div class="Deng">
            <div class="form-item">
                <input id="username"type="text"autocomplete="off"placeholder="name">
            </div>
            <div class="form-item">
                <input id="password"type="password"autocomplete="off"placeholder="password">
            </div>
            <div class="form-item"><buttonid="submit">login</button></div>
        </div>
    </body>
</html>