<!DOCTYPE html>
<html>
    <head>
        <title>Task_1</title>
        <link rel="styleSheet" href="W1.css">
    </head>
    <body>
        <h1>Title Tree</h1>
        <p>Part_1: Tree</p>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <img src="Shu1.jpg"/>
        <br>

        <p>Here is a quote from Wiki:</p>
        <blockquote cite="https://en.wikipedia.org/wiki/Tree">
            Trees play a significant role in reducing erosion and moderating the climate. 
            They remove carbon dioxide from the atmosphere and store large quantities of carbon in their tissues.
        </blockquote>
        <br>

        <a href="https://www.google.com/">Find_more_tree</a>
        <br>

        <table border="1">
            <tr>
              <th>Tree</th>
              <th>Teight</th>
            </tr>
            <tr>
              <td>Tree_A</td>
              <td>5m</td>
            </tr>
        </table>
        <br>

        <h2>Tree_list</h2>
        <ul>
            <li>Tree_A</li>
            <li>Tree_B</li>
            <li>Tree_C</li>
        </ul>
        <button type="button" 
        onclick="document.getElementById('Time_A').innerHTML = Date()">
        Time
        </button>
        <p id="Time_A"></p>
        <p id="Avg"></p>
        <script>
            var A = 50;
            var B = 60;
            var C = 73;
            var sum = A + B + C;
            var avg = sum / 3;
            document.getElementById("Avg").innerHTML = 
            "student_A score: " + A + " student_B score: " + B + 
            " student_C score: " + C + " Avg: " + avg;
        </script>

        <script>
            var app = new Vue
            ({
                el: "#app",
                data:
                {
                    todos:
                    [
                        {text:"Work_A", done: false},
                        {text:"Work_B", done: false},
                        {text:"Work_C", done: false},
                        {text:"Work_D", done: false}
                    ]
                },
                methods:{
                    toggle:function(todo)
                    {
                        todo.done = !todo.done
                    },
                    addItem: function(newItem){
                        var value = this.newItem && this.newItem.trim()
                        this.todos.push
                        ({
                            text: value,
                            done: false
                        })
                        this.newItem = '';
                    }
                }
            })
        </script>
        <div id="app">
            <h3>Work</h3>
            <ol>
                <li v-for="todo in todos">
                    <input type="checkbox"
                    v-on:change="toggle(todo)"
                    v-bind:checked="todo.done">
                    <del v-if="todo.done">
                        {{ todo.text }}
                    </del>
                    <span v-else>
                        {{ todo.text }}
                    </span>
                </li>
            </ol>
            <input placeholder="Add routine items"
            v-model="newItem"
            @keyup.enter="addItem">
        </div>
    </body>
</html>